.news-archive {
  background-color: $color-7;

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 40px 20px 24px;

    @media (min-width: $bp-L) {
      padding: 80px 40px 74px;
    }

    @media (min-width: $bp-2XL) {
      padding-left: 76px;
      padding-right: 76px;
    }

    @media (min-width: $bp-5XL) {
      padding-top: 100px;
      padding-bottom: 112px;
    }
  }

  &__header {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $bp-M) {
      padding-bottom: 40px;
      max-width: 818px;
    }

    @media (min-width: $bp-L) {
      max-width: 1227px;
    }

    @media (min-width: $bp-4XL) {
      padding-bottom: 80px;
      max-width: 1680px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-left: 0;
      background: transparent;
      border: 2px solid $color-8;
      border-radius: 10px;
      padding: 13px 45px 13px 13px;
      font-family: $font-base;
      font-weight: 700;
      font-size: rem(12);
      line-height: rem(16);
      letter-spacing: 0.12em;
      position: relative;
      cursor: pointer;
      transition: $transition-ease;
      z-index: 4;

      @media (min-width: $bp-XL) {
        font-size: rem(16);
        line-height: rem(26);
      }

      option {
        color: $color-1;
      }
    }

    .news-select {
      position: relative;
      margin-left: auto;
      border-radius: 10px;
      transition: $transition-ease;

      &::before {
        position: absolute;
        content: '';
        z-index: 2;
        top: 14px;
        right: 23px;
        background: url("../../images/arrow-bottom.svg");
        width: 12px;
        height: 17px;
        transition: $transition-ease;

        @media (min-width: $bp-XL) {
          top: 20px;
        }
      }

      &::after {
        position: absolute;
        content: '';
        z-index: 2;
        top: 20px;
        right: 15px;
        background: url("../../images/hover.svg");
        width: 28px;
        height: 12px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        opacity: 0;
        transition: $transition-ease;

        @media (min-width: $bp-XL) {
          width: 30px;
          height: 15px;
          right: 14px;
        }
      }

      &:hover {
        background-color: $color-8;

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        select {
          color: $color-2;
        }
      }
    }
  }

  &__btn {
    min-width: 163px;
  }

  &__wrap {
    position: relative;
    margin: 0 auto;
    padding-bottom: 60px;

    @media (min-width: $bp-M) {
      margin: 0 auto;
      max-width: 818px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-column-gap: 18px;
    }

    @media (min-width: $bp-L) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1227px;
      padding-bottom: 70px;
    }

    @media (min-width: $bp-4XL) {
      max-width: 1680px;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      padding-bottom: 80px;
    }
  }
}

.navigation {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 57px 0 0;

  @media (min-width: $bp-M) {
    max-width: 818px;
  }

  @media (min-width: $bp-L) {
    max-width: 1227px;
  }

  @media (min-width: $bp-4XL) {
    max-width: 1680px;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .current {
      border-bottom: 2px solid $color-1;
    }

    a,
    span {
      font-family: $font-base;
      font-weight: 700;
      font-size: rem(12);
      line-height: rem(16);
      letter-spacing: 0.12em;
      position: relative;
      color: $color-1;
      margin-left: 16px;

      @media (min-width: $bp-XL) {
        font-size: rem(16);
        line-height: rem(26);
      }
    }

    .next,
    .prev {
      width: 44px;
      height: 44px;
      opacity: 1;
      border-radius: 100%;
      background-image: url("../../images/sponsor-arrow.svg");
      background-size: contain;
      background-position: center;
      color: transparent;
      margin-top: -11px;
    }

    .next {
      transform: rotate(180deg);
    }

    @media (min-width: $bp-M) {
      justify-content: flex-end;
    }
  }
}
