.wp-block-columns {
  padding: 0 20px;
  margin: 40px auto;
  max-width: 1760px;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

a {
  color: $color-3;

  &:hover {
    color: $color-4;
  }
}
