//global styles

html,
body {
  height: 100%;
  background-color: $color-7;

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1) background-color;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
}

footer {
  flex-shrink: 0;
}

input,
textarea,
select,
button {
  outline: none;
}

input:active,
textarea:active,
select:active,
button:active {
  outline: none;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

::selection {
  background: $color-8;
  color: $color-2;
  text-shadow: none;
}

.body-green {
  background-color: $color-8;
  transition: 1s ease-in-out background-color;

  .wp-block-spacer {
    background-color: $color-8;
  }
}

.blog,
.archive {
  background-color: $color-7;
}
